<!DOCTYPE html>
<html lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TechRoot - Home</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="bpBody">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="logo" href="/"><img class="logo" src="/images/TechRoot_png.png" ></img></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                  <li>
                      <p class="navbar-text">Signed in as <%= user.username%></p>
                  </li>
                  <li>
                      <a href="/logout">Logout</a>
                  </li>
                <% } else { %>
                  <li>
                      <a href="/login">Login</a>
                  </li>
                  <li>
                      <a href="/register">Register</a>
                  </li>
                <% } %>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="col-md-6 col-sm-12 crowdfund">
        <h1 class="landingTitle1"><a class="landingTitle1" href="/projectHome">Crowd Funding</a></h1>
        <p></p>
    </div>
    <div class="col-md-6 col-sm-12 marketplace">
      <h1 class="landingTitle2"><a class="landingTitle2" href="/marketHome">Market Place</a></h1>
      <p></p>
    </div>

            <div class="container">
              <h1 class="tagLine">Ideate It . Prototype It . Fund It . Make It . Sell It</h1>
              <h1 class="tagLine">Every step just for you at our guidance</h1>

              <img src="/images/prototype-fund-sell.jpg"></img>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum felis molestie eros lacinia dignissim. Quisque nec mi arcu. Quisque vitae diam nisl. Donec rhoncus sed felis eu varius. Nullam consequat, tellus non volutpat ullamcorper, justo quam iaculis dui, et blandit massa mi nec diam. Cras ultrices tincidunt eros, eget accumsan urna varius vel. Quisque aliquet lectus quis congue fermentum. </p>

            </div>

    <!-- jQuery -->
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

</body>

</html>
